div {
  width: 100px;
  height: 100px;
  position: fixed;
}

.item1 {
  background-color: blueviolet;
}

.item2 {
  background-color: yellow;
  left: 30px;
}

.item3 {
  background-color: skyblue;
  top: 30px;
  right: 30px;
}
