.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.item1 {
  width: 100px;
  height: 100px;
  background-color: red;
}

.item2 {
  width: 100px;
  height: 100px;
  background-color: orange;
}

.item3 {
  width: 100px;
  height: 100px;
  background-color: yellow;
}
