.container {
  display: flex;
  justify-content: space-around;
}

.box {
  width: 100px;
  height: 100px;
  background-color: black;
  border: 5px solid orange;
  border-radius: 20%;
}

@media screen and (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .box {
    background-color: skyblue;
    margin: 10px;
  }
}
