div p {
  font-size: 20px;
  font-weight: bold;
  line-height: 200px;
  text-align: center;
  text-decoration: underline;
  color: cadetblue;
}

div {
  width: 200px;
  height: 200px;
  background-color: beige;
}

a {
  text-decoration: none;
}

/* 구글 폰트 */
.google {
  font-family: "Caprasimo", cursive;
  color: blueviolet;
}

/* 눈누 폰트 */
@font-face {
  font-family: "TTWanjudaedunsancheB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.noon {
  font-family: "TTWanjudaedunsancheB";
}

h1 {
  background-color: yellow;
}

span {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: lightblue;
}
